## Importing data

Note:
- Had to delete the first four lines of the file being used. Caused parser error.
- 2 of the 3 files only had column names

In [1]:
pip install squarify

Requirement already satisfied: squarify in c:\users\janeelabrahams\anaconda3\lib\site-packages (0.4.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import plotly.express as px
import numpy as np
import random
import squarify



df = pd.read_csv('API_8_DS2_en_csv_v2_5359551.csv')
df2 = pd.read_csv('Metadata_Country_API_8_DS2_en_csv_v2_5359551.csv')

health_data = pd.merge(df,df2, on='Country Code')
# health_data = pd.merge(health_data, health_df3, on='SpecialNotes') 



health_data.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2017,2018,2019,2020,2021,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,Aruba,ABW,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,Aruba,ABW,Completeness of death registration with cause-...,SP.REG.DTHS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Latin America & Caribbean,High income,NaN,Aruba,NaN
2,Aruba,ABW,Completeness of birth registration (%),SP.REG.BRTH.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Latin America & Caribbean,High income,NaN,Aruba,NaN
3,Aruba,ABW,"Completeness of birth registration, urban (%)",SP.REG.BRTH.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Latin America & Caribbean,High income,NaN,Aruba,NaN
4,Aruba,ABW,"Completeness of birth registration, rural (%)",SP.REG.BRTH.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Latin America & Caribbean,High income,NaN,Aruba,NaN
5,Aruba,ABW,"Completeness of birth registration, male (%)",SP.REG.BRTH.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Latin America & Caribbean,High income,NaN,Aruba,NaN
6,Aruba,ABW,"Completeness of birth registration, female (%)",SP.REG.BRTH.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Latin America & Caribbean,High income,NaN,Aruba,NaN
7,Aruba,ABW,"Population, male (% of total population)",SP.POP.TOTL.MA.ZS,49.139320,49.149809,49.156699,49.162244,49.173227,49.174917,...,47.275676,47.211264,47.150561,47.108880,47.12635,Latin America & Caribbean,High income,NaN,Aruba,NaN
8,Aruba,ABW,"Population, male",SP.POP.TOTL.MA.IN,26834.000000,27431.000000,27863.000000,28256.000000,28608.000000,28906.000000,...,49847.000000,50026.000000,50188.000000,50211.000000,50207.00000,Latin America & Caribbean,High income,NaN,Aruba,NaN
9,Aruba,ABW,"Population, female (% of total population)",SP.POP.TOTL.FE.ZS,50.858849,50.850191,50.845065,50.836016,50.826773,50.823381,...,52.723376,52.787792,52.849439,52.890182,52.87365,Latin America & Caribbean,High income,NaN,Aruba,NaN

In [3]:
health_data.shape

(67575, 71)

In [4]:
#

## Deleting Nulls

In [5]:
health_df.shape

NameError: name 'health_df' is not defined

In [ ]:
plt.scatter(y=health_data['1960'], x=health_data['2020'])
plt.xlabel('Year 1960')
plt.ylabel('Year 2020')
plt.show()

In [ ]:
plt.plot(health_data['1960'])

In [ ]:
plt.plot(health_data['2020'])
plt.xlabel('Data points Year 2020')
plt.show()

In [6]:
# squarify.plot(sizes= health_df['Country'], color=colors)
# plt.axis("off")


# import plotly.express as px
# fig = px.treemap(names= health_data['Country Code'])
# fig.update_traces(root_color="lightgrey")
# fig.update_layout(margin = dict(t=50, l=25, r=25, b=25))
# fig.show()


df = pd.DataFrame(health_data)

# create a tree map
squarify.plot(sizes=df['value'], label=df['category'], alpha=0.7)

# add titles and labels
plt.title("Tree Map Example")
plt.axis('off')

NameError: name 'squarify' is not defined